<div class="container">
<div><table class="table table-bordered">
        <thead>
          <tr>
            <th scope="row">Completed projects</th>
            <th scope="row">Ongoing projects
                </th>
            <th scope="row">To do projects</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <label for="exampleInputEmail1">Id</label>
                <input type="text"> <br>
                <label for="exampleInputEmail1">Name</label>
                <input type="text"><br>
                <label for="exampleInputEmail1">Budget</label>
                <input type="text"><br>
                <label for="exampleInputEmail1">Start Date</label>
                <input type="text"><br>
                <label for="exampleInputEmail1">End Date</label>
                <input type="text"><br>
           </td>
           <td>
                <label for="exampleInputEmail1">Id</label>
                <input type="text"> <br>
                <label for="exampleInputEmail1">Name</label>
                <input type="text"><br>
                <label for="exampleInputEmail1">Budget</label>
                <input type="text"><br>
                <label for="exampleInputEmail1">Start Date</label>
                <input type="text"><br>
                <label for="exampleInputEmail1">End Date</label>
                <input type="text"><br>
           </td>
           <td>
                <label for="exampleInputEmail1">Id</label>
                <input type="text"> <br>
                <label for="exampleInputEmail1">Name</label>
                <input type="text"><br>
                <label for="exampleInputEmail1">Budget</label>
                <input type="text"><br>
                <label for="exampleInputEmail1">Start Date</label>
                <input type="text"><br>
                <label for="exampleInputEmail1">End Date</label>
                <input type="text"><br>
           </td>
            </tr>
         </tbody>
      </table>
    </div>
</div>